<a href="https://colab.research.google.com/github/ivanfmoraes/tp1_IBD/blob/master/tp1_IBD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Nome:Ivan Fernandes de Moraes
### Matricula:2018066271
### Questões: 1,2,3,7,8,9 + relacionais

**Settings**

In [0]:
import io
import sqlite3
import pandas as pd

In [0]:
!wget --quiet -P /tmp/ https://github.com/ivanfmoraes/tp1_IBD/blob/master/despesas_tp1.sql

In [0]:
conn = sqlite3.connect('tp1.db')
cursor = conn.cursor()

In [0]:
f = io.open('/tmp/despesas_tp1.sql', 'r', encoding="ISO-8859-1")
sql = f.read()
cursor.executescript(sql)

OperationalError: ignored

**Questao 1**

In [0]:
df = pd.read_sql_query("SELECT cod_subfuncao, nome_subfuncao FROM detalhamento_funcao NATURAL JOIN subfuncao WHERE cod_funcao IN (SELECT cod_funcao FROM (SELECT cod_funcao,MAX(num) as máximo FROM (SELECT cod_funcao,COUNT(*) as NUM FROM detalhamento_funcao GROUP BY cod_funcao)))", conn)
df

DatabaseError: ignored

**Questão 2**

In [0]:
df = pd.read_sql_query("SELECT NOME_FUNCAO, NOME_SUBFUNCAO, SUM(VALOR_DESPESA) AS VALOR " +
                       "FROM DETALHAMENTO_FUNCAO JOIN FUNCAO ON DETALHAMENTO_FUNCAO.COD_FUNCAO=FUNCAO.COD_FUNCAO " +
                       "JOIN SUBFUNCAO ON DETALHAMENTO_FUNCAO.COD_SUBFUNCAO=SUBFUNCAO.COD_SUBFUNCAO " +
                       "JOIN DESPESA_PUBLICA ON " +
                       "DETALHAMENTO_FUNCAO.COD_DETALHAMENTO=DESPESA_PUBLICA.COD_DETALHAMENTO " +
                       "GROUP BY NOME_FUNCAO,NOME_SUBFUNCAO " +
                       "HAVING VALOR>200000" +
                       "", conn)
df

**Questão 3**

In [0]:
df = pd.read_sql_query("SELECT NOME_ORGAO, SUM(VALOR_DESPESA) AS VALOR " + 
                       "FROM ORGAO JOIN DESPESA_PUBLICA ON ORGAO.COD_ORGAO=DESPESA_PUBLICA.COD_ORGAO " +
                       "WHERE ANO_DESPESA=2018 " +
                       "GROUP BY NOME_ORGAO " +
                       "ORDER BY VALOR DESC " +
                       "", conn)
df

**Questão 7**

In [0]:
df = pd.read_sql_query("SELECT nome_orgao,COUNT(*) AS NUM_PROGRAMAS FROM orgao NATURAL JOIN despesa_publica" +
                        "NATURAL JOIN programa_governo WHERE valor_despesa > 0 GROUP BY nome_orgao", conn)
df

**Questão 8**

In [12]:
df = pd.read_sql_query("SELECT NOME_PROGRAMA_GOVERNO, NOME_SUBFUNCAO,  COUNT(VALOR_DESPESA) AS QUANTIDADE , SUM(VALOR_DESPESA) AS TOTAL " + 
                       "FROM PROGRAMA_GOVERNO JOIN DESPESA_PUBLICA ON PROGRAMA_GOVERNO.COD_PROGRAMA_GOVERNO=DESPESA_PUBLICA.COD_PROGRAMA_GOVERNO " +
                       "JOIN DETALHAMENTO_FUNCAO ON DESPESA_PUBLICA.COD_DETALHAMENTO=DETALHAMENTO_FUNCAO.COD_DETALHAMENTO " +
                       "JOIN SUBFUNCAO ON DETALHAMENTO_FUNCAO.COD_SUBFUNCAO=SUBFUNCAO.COD_SUBFUNCAO " +
                       "GROUP BY NOME_SUBFUNCAO,NOME_PROGRAMA_GOVERNO " +
                       "ORDER BY NOME_PROGRAMA_GOVERNO DESC", conn)
df

DatabaseError: ignored

**Questão 9**

In [0]:
df = pd.read_sql_query("SELECT COD_DESPESA, MES_DESPESA, ANO_DESPESA, MODALIDADE_DESPESA, VALOR_DESPESA " +
                       "FROM DESPESA_PUBLICA JOIN ORGAO ON DESPESA_PUBLICA.COD_ORGAO=ORGAO.COD_ORGAO " +
                       "WHERE NOME_ORGAO IN " +
                       "(SELECT NOME_ORGAO " +
                       "FROM ORGAO " +
                       "ORDER BY QTD_ORGAOS_SUBORDINADOS DESC " +
                       "LIMIT 1) " +
                       "ORDER BY VALOR_DESPESA DESC", conn)
df

**Questão 12**

In [0]:
df = pd.read_sql_query("SELECT nome_funcao,nome_subfuncao FROM funcao NATURAL JOIN detalhamento_funcao NATURAL JOIN subfuncao", conn)
df

**Questão 13**

In [0]:
df = pd.read_sql_query("SELECT MODALIDADE_DESPESA, VALOR_DESPESA, NOME_PROGRAMA_GOVERNO " +
                        "FROM PROGRAMA_GOVERNO AS P, DESPESA_PUBLICA AS D " +
                        "WHERE P.COD_PROGRAMA_GOVERNO=D.COD_PROGRAMA_GOVERNO AND MODALIDADE_DESPESA LIKE 'Reserva de Contingência' " +
                        "", conn)
df

**Questão 14**

In [0]:
df = pd.read_sql_query("SELECT valor_despesa,nome_orgao FROM despesa_publica NATURAL JOIN" +
                        "(SELECT * FROM orgao WHERE nome_orgao = 'Ministério da Fazenda')", conn)
df

**Questão 15**

In [0]:
df = pd.read_sql_query("SELECT NOME_PROGRAMA_GOVERNO, VALOR_DESPESA " +
                        "FROM DESPESA_PUBLICA AS D, ORGAO AS O, PROGRAMA_GOVERNO AS P " +
                        "WHERE D.COD_ORGAO=O.COD_ORGAO AND D.COD_PROGRAMA_GOVERNO=P.COD_PROGRAMA_GOVERNO " +
                        "AND NOME_ORGAO LIKE 'Ministério da Saúde' " +
                        "", conn)
df